{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DOGUKAN &nbsp; POLAT</title>
    <link rel="icon" href="{% static 'images/logo-icon.png' %}">
    <link rel="icon" href="/Assets/img/15.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://use.fontawesome.com/66c3c19309.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.3/dist/ionicons.js"></script>

    <!-- links -->
    <body>
        <div>
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
        </div>
      </body>
<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">

    <!-- <li><i class="uil uil-moon change-theme" id="theme-button"></i></li> -->
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
    <header id="header" class="fixed-top ">
        <div class="container-fluid  navbur">

            <div class="navi">
                <div class="col-xl-9 d-flex align-items-center lefty">
                    <h1 class="logo mr-auto"><a href="#">Dogukan Polat</a></h1>

                    <nav class="nav-menu d-none d-lg-block float-right">
                        <ul>
                            <li class="active"><a href="#home">Başlangıç</a></li>
                            <li><a href="#about">Hakkımda</a></li>
                            <li><a href="#skills">Yetenekler</a></li>
                            <li><a href="#work">Calışmalarım</a></li>
                            <li><a href="#contact">İletişim</a></li>
                            <div class="invert pl-4 " id="theme-button">
                             <!--<ion-icon name='contrast-outline' style="color:rgb(17, 190, 221)"></ion-icon>>-->
                            </div>
                          
                        </ul>

                    </nav>

                    <div class="changed mx-3"><i class="icofont-ui-brightness change-theme" id="theme-button"></i></div>

                </div>
            </div>
        </div>
    </header>
    <section class=" descript "  id="home">
        <div class="container ">

            <div class="small-container ">
                <div class="row">
                    <div class="col-md-6 initial-0 aos-init " data-aos="zoom-in" data-aos-delay="200">
                        <p id="hey">SELAM !</p>
                        {% for infor in info %}
                        <h1 id="name"> Ben, <span>{{infor.name_complete}}</span> </h1>
                        <h3> Kimya Mühendisi</h3>
                        <p> <span id="big"></span>{{infor.mini_about}}</p>

                        <div class="social">
                            <a href="{{infor.instagram}}"> <i class="fa fa-instagram"></i></a>

                            <a href="{{infor.twitter}}"> <i class="fa fa-twitter"></i></a>
                            <a href="{{infor.facebook}}"><i class="fa fa-facebook-f" style="background: #4974c5 "></i>
                           </a>
                            <a href="{{infor.github}}"><i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="button">
                            <a href="mailto:{{infor.email}}"> <button class="main-button2">İletişim <i class="uil uil-message"style="" ></i>  </button></a>
                            <a class="main-button ml-2" href="{{infor.mycv}}" target="_blank" rel="noopener noreferrer"> <button id="btn2">CV <i class="uil uil-import"></i></i>
                            </button></a>

                        </div>

                    </div>
                    <div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
                        <img src="{{infor.avatar}}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <section class="about its-me " id="about">
        <div class="container2">

            <div class="small-container2 ">
                <div class="row2 initial-3">
                    {% for aboutme in about %}
                    <div class="col-md-6 aos-init" data-aos="fade-up-right" data-aos-delay="700">
                        <img src="{{aboutme.about_avatar}}" alt="">
                    </div>
                    <div class="col-md-6 initial-4">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>{{aboutme.title}}</h1>
                        </div>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">{{aboutme.description1}}</p>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">{{aboutme.description2}}</p>
                        <div class="icons aos-init" data-aos="zoom-in" data-aos-delay="300">
                            <div> <i class="fa fa-industry" aria-hidden=”true”></i>
                                <p>UniSim</p>
                            </div>

                            <div> <i class="fa fa-industry" aria-hidden=”true”></i>
                                <p>ChemCAD</p>
                            </div>
                            <div>
                                <ion-icon name="construct-sharp" style="color: yellow;font-size:35px"></ion-icon>
                                <p>Solidworks</p>
                            </div>
                            <div>
                                <ion-icon name="water-sharp" style="color: cyan;font-size:35px"></ion-icon>
                                </i>
                                <p>ANSYS</p>
                            </div>
                            <div> <i class="fa fa-file-excel-o" aria-hidden=”true”></i>
                                <p>Microsoft Excel</p>
                            </div>

                            <div> <i class="fa fa-database"></i>
                                <p>AutoPIPE</p>
                            </div>

                            <div>
                                <ion-icon name="build" style="color: yellow;font-size:35px"></ion-icon>
                                <p>Blender</p>
                            </div>
                            <div>
                                <ion-icon name="logo-python" style="color: cyan;font-size:35px"></ion-icon>
                                <p>Python</p>
                            </div>

                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        <article>
            <div class="container skills" id="skills">

                <div class="small-container">
                    <div class="row9">
                        <div class="col-md-10 initial-5">
                            <div class="title">
                                <h1 class="">PROGRAMLAR & YAZILIMLAR</h1>
                            </div>
                            <div class="all-bars">
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="bar-info">
                                        <p>ANSYS Fluent</p>
                                        <h5>45%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="two"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="bar-info">
                                        <p>AutoCAD & Plant 3D</p>
                                        <h5>70%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="three"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="bar-info">
                                        <p>Blender</p>
                                        <h5>85%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="four"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="500">
                                    <div class="bar-info">
                                        <p>Solidworks</p>
                                        <h5>85%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="five"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Honeywell Unisim</p>
                                        <h5>75%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="six"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="700">
                                    <div class="bar-info">
                                        <p>ChemCAD 7</p>
                                        <h5>65%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="eight"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Bentley AutoPIPE</p>
                                        <h5>60%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="nine"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="700">
                                    <div class="bar-info">
                                        <p>Python</p>
                                        <h5>65%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onsekiz"></p>
                                    </div>
                                </div>  
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>MATLAB</p>
                                        <h5>50%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="ten"></p>
                                    </div>
                                </div> 
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Microsoft Excel</p>
                                        <h5>90%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onbir"></p>
                                    </div>
                                </div> 
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Microsoft Word</p>
                                        <h5>100%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="oniki"></p>
                                    </div>
                                </div> 
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Microsoft PowerPoint</p>
                                        <h5>80%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onuc"></p>
                                    </div>
                                </div>  
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="800">
                                    <div class="bar-info">
                                        <p>Adobe Photoshop</p>
                                        <h5>85%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="one"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>SAP ERP</p>
                                        <h5>60%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="ondort"></p>
                                    </div>
                                </div> 
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Avagadro</p>
                                        <h5>30%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="seven"></p>
                                    </div>
                                </div> 
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>3D Slicer & 3Ds MAX</p>
                                        <h5>60%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onbes"></p>
                                    </div>
                                </div>                                                                  
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="700">
                                    <div class="bar-info">
                                        <p>Adobe Premiere Pro</p>
                                        <h5>70%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onalti"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Lumion & Twinmotion</p>
                                        <h5>75%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="onyedi"></p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </section>



    <div class="work">
        <div class="container" id="work">
            <div class="title2">
                <h1>ÇALIŞMALARIM </h1>
            </div>
            <div class="small-container">
                <div class="row3">
                    {% for sys in skills %}
                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="500">

                        <img src="{{sys.image}}" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">{{sys.title}}</h3>
                            <p class="pb-1">{{sys.skill}}</p>
                            <button><a href="{{sys.link}}">VISIT</a></button>

                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>


    <footer id="contact">
        <div class="container">
            <div class="title5">
                <h1>İLETİŞİM</h1>
            </div>
            <div class="small-container">
                <div class="row4">
                                         {% for infor in info %}
   
                    <div class="col-md-6 initial-8 aos-init" data-aos="fade-down-right" data-aos-delay="300">
                        <p id="helo">Herhangi bi konu hakkında konuşmak, teklifler için selam demeniz yeterlidir. <img src="{%  static 'images/e.png' %}" alt="" id="e" class="wave2"></p>

                        <div class="contact-info">
                            <div class="c-ico">
                    <i class="fa fa-comments"></i> <span id="io">Ulaşmak için  </span></i>

                            </div>
                            <p>Email: <span>{{infor.email}}</span></p>
                            <p>Phone: <span>{{infor.phone}}</span></p>
                        </div>
                        <div class="contact-info">
                            <div class="c-ico">
                                <i class="fa fa-map-marker"></i><span id="io">Adresim</span>
                            </div>
                            <p><span>{{infor.address}}</span></p>

                        </div>
                        <div class="contact-info obojo">
                            <div class="c-ico">
                                <i class="fa fa-share-square-o"> <span id="io">Sosyal Medya</span> </i>
                            </div>
                            <h4>
                                <a href="{{infor.instagram}}" class="m1"> <i class="icofont-instagram"></i></a>

                                  <a href="{{infor.twitter}}" class="m1"> <i class="icofont-twitter"></i></a>
                                <a href="{{infor.github}}"><i class="fa fa-github"></i>
                                </a>
                                <a href="{{infor.facebook}}"><i class="fa fa-facebook" style="background: #4974c5"></i></a>
                            </h4>

                        </div>
                    </div>
                    <div class=" col-md-6 initial-7 aos-init " data-aos="zoom-in " data-aos-delay="700 ">
                        <img src="{% static 'images/19.svg' %} " alt=" ">
                    </div>
                 {% endfor %}
                </div>
                <div class="footing ">
                    <div class="row justify-content-center ">
                        <div class="col-md-4 ">
                            <p>Designed By </p>
                            <p>Doğukan POLAT</p>
                            <p>Kimya Mühendisi</p>
                            <p id="copy ">
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="up-arrow ">
            <div class="arrow ">
                <a href="# "><i class="fa fa-angle-up "></i>
            </a>
            </div>
        </div>

    </footer>

    <div id="preloader"></div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- js -->
</body>

</html>


